<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{.Title}}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="/lib/images/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
	<link rel="stylesheet" href="lib/css/font-awesome.min.css">
</head>
<body>
	<form action="" method="post">
		<input type="text" name="uname" placeholder="User Name" />
		<input type="password" name="pass" placeholder="Password" />
		<button type="submit">Login</button>
	</form>
</body>
</html>